<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806931145399-fonahtooioauo747s9k5sorq5dd0bnb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806931145399-fonahtooioauo747s9k5sorq5dd0bnb9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806931145399-a69ed74ac9j4v9ch2b89c53mvdi4lc7u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCreWjyIR32WcmxIpId8VUIechSfBgaWkg</string>
	<key>GCM_SENDER_ID</key>
	<string>806931145399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.books.Tanga</string>
	<key>PROJECT_ID</key>
	<string>tanga-d571c</string>
	<key>STORAGE_BUCKET</key>
	<string>tanga-d571c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806931145399:ios:943b30d69294c093586332</string>
</dict>
</plist>